{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Arivoli Sankar- Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Arivoli Sankar"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/cawin.jpg'%}" alt="Arivoli Sankar" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Arivoli Sankar</h1>
			<h2 class="quickFade delayThree">Python and Php developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: <a href="speaktoarivoli@gmail.com" target="_blank">speaktoarivoli@gmail.com</a></li>
				<li>Github: <a href="github.com/Arivoli-Sankar">www.github.com</a></li>
				<li>Contact: +91 8110 805030</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I started to code for fun or it may be taken as a hobby. But, I just got myself completely interested in coding and solving problems. I am so much curious to find out what’s beyond coding. I am ready to give all in to make myself a professional.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Assistant Professor of Physics </h2>
					<p class="subDetails">August 2016 - February 2019</p>
					<p> I worked as an assistant professor of Physics in Kalaimahal College of Arts and Science,Sembanarkoil, Mayiladuthurai District and i have three year experience in teaching. I dealt lot of Physics papers and some applied Physics to Computer Science students like, Micro processor programming, Basic Physics of Computing, Communication Physics</p>
				</article>
				
				
				
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li> # Python</li>
					<li># Php</li>
					<li># MySQL</li>
					<li># Basic javascript</li>
					<li># Basic HTML</li>
					<li># Basic CSS</li>
					<li># Datastructures</li>
					<li># OOPS</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="projects">
					<li>Terminal Calculator in Python </li>
					<li>Calculator Using Object Oriented Programming in Python</li>
					<li>Calculator using Tkinter Module</li>
					<li>CRUD operation in Python using Tkinter module and MySQL Database </li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Python and Php</h2>
					<p class="subDetails">Diplomo in Python and Php</p>
					<p>Studied at Green Apple Computer Education, Mayiladuthurai</p>
				</article>
				
				<article>
					<h2>Jaya Engineering College</h2>
					<p class="subDetails">2012 - 2016</p>
					<p>B.E., Mechanical Engineering  &nbsp&nbsp CGPA 7.69</p>
				</article>

				<article>
					<h2>Higher Seocondary Education </h2>
					<p class="subDetails">2011 - 2012</p>
					<p>Kalaimahal Matirc. Hr. Sec. School,Sembanarkoil  &nbsp&nbsp Percentage 94.3 %</p>
				</article>

				<article>
					<h2>Seocondary School Education </h2>
					<p class="subDetails">2009 - 2010</p>
					<p>Sambandam Hr. Sec. School,Sembanarkoil  &nbsp&nbsp Percentage 96.2 %</p>
				</article>

				<article>
					<h2>Lower Grade English Typing Certificate </h2>
					<p class="subDetails">2009</p>
					<p>First class</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Additional Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="projects">
					<li>Photoshop</li>
					<li>Pagemaker</li>
					<li>Coreldraw</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Stengths</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="projects">
					<li>Listening</li>
					<li>Learing</li>
					<li>Communication</li>
					<li>Adaptability</li>
					<li>Fast Learing</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Personal Details</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="projects">
					<li>Father's Name: K.Sankar</li>
					<li>Mother's Name: K.Santhi</li>
					<li>Spouse's Name: A. Bharathi</li>
					<li>Permanent Address: Vallam road,Sembanarkoil, Mayiladuthurai District 609 309</li>
					<li>Contact : 8110805030</li>
					<li>Email: speaktoarivoli@gmail.com </li>
					<li>Github: github.com/Arivoli-Sankar</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>